.navItems {
  
}

.navTabs {
  background-color:var(--primary-color);
  border: 0;
  display: flex; /* Use flexbox to align items */
  justify-content: right; /* Center the nav-tabs */
  padding-right: 5rem;
  align-items: center; /* Align items vertically in the center */
  height: 75px;
}

.navTabs .navLink {
  color: white; 
  font-weight: bold;
}

