@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');



#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  --primary-color: #5f5b80; /* primary color used as background*/
  --primary-active-tab-color: rgb(100, 100, 200); /* active tab color option */
  --primary-hover-color: #E19F91; 
}

/* I'm not sure if this code is needed. Looks to be overriding bootstrap, but not sure if it is doing anything. Maybe here to fix white area that shows up on right side when screen is made very small/narrow */
main.mx-3 {
  margin-left: 0 !important;
  margin-right: 0 !important;
} 


/* NavTab Component CSS Bootstrap overrides (cannot be done at .module.css level). Other CSS for NavTab can be found in ./scr./components./NavTabs.module.css*/
/* Highlight the active tab */
.nav-tabs .nav-link.active {
  background-color: var(--primary-hover-color) !important;
  color: white !important;
  border-color: var(--primary-hover-color) !important;
}

/* Hover effect for non-active tabs only */
.nav-tabs .nav-link:not(.active):hover {
  background-color: inherit;
  color: var(--primary-hover-color);
  border-color: var(--primary-color);
}

